---
layout: layout.liquid
---

<div class="logo"><a href="/" title="Back to homepage">{{ '/img/bnijenhuis.svg' | printFileContents }}</a></div>

{{ content }}

<a href="/" title="Back to homepage">Back to homepage</a>