---
layout: layout.liquid
---

<header>
    <div class="logo">
        <a href="/" title="Back to homepage">{{ '/img/bnijenhuis.svg' | printFileContents }}</a>
    </div>
    {% include 'themes' %}
</header>

<main>

    {{ content }}

</main>

<footer>
    <a href="/" title="Back to homepage">Back to homepage</a>
</footer>