---
layout: layout.liquid
---

<header>
    <div class="logo">
        {{ '/img/bnijenhuis.svg' | printFileContents }}
    </div>
    {% include 'themes' %}
</header>

<main>

    <h1>{{ pageTitle }}</h1>

    {{ content }}

</main>