---
layout: layout.liquid
---

<h1>{{ pageTitle }}</h1>

<p>Posted on: <time datetime="{{ page.date | postDate }}">{{ page.date | readablePostDate }}</time></p>

{{ content }}

<a href="/">Back to homepage</a>