---
layout: index-layout.liquid
eleventyExcludeFromCollections: true
pageTitle: Notes
---

<p>This is the collection of all the notes I've written.</p>

<ul>
{% for note in collections.notes | reverse %}
    <li><a href="{{ note.url | url }}"><time datetime="{{ note.data.date | postDate }}">{{ note.data.date | readablePostDate }}</time> - {{ note.data.pageTitle }}</a></li>
{% endfor %}
</ul>